/* Metrics */
#metrics-range form {
    margin-top: 10px;
    float: right;
}
#metrics-range label {
    display: inline;
}
#metrics-range label:hover {
    cursor: pointer;
}
#metrics-range input[type="radio"] {
    display: none;
}
#metrics-range input[type="radio"]:checked + label {
    text-decoration: underline;
}

#metrics-panels .panel {
    border: solid 1px #000;
    border-radius: 5px;
    display: block;
    float: left;
    margin: 5px;
    padding: 5px;
}
#metrics-panels .panel .title {
    font-weight: bold;
    font-size: 1.1em;
}
#metrics-panels .panel .description {
    font-style: italic;
    font-size: 0.9em;
    line-height: 0.9em;
}
#metrics-panels .panel .value {
    width: 55px;
    margin: 5px auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}

/* Events */
#events table th,
#events table td {
    padding: 5px;
}