/* setup default font */
*, body {
    font-family: Vegur, 'PT Sans Caption', Helvetica, Arial, sans-serif;
    font-size: 100%;
}

.clearit {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

/* pnotify default */
.stack-content-center .ui-pnotify-title,
.stack-content-center .ui-pnotify-text {
    text-align: center;
}

.parsley-error-list {
    color: #cc3300;
}

/* spinner */
span.spinner-wrap {
    display: inline-block;
    margin: 0;
}
span.spinner-wrap.hide {
    display: none;
}