[submodule "application/libs/stripe-php"]
	path = application/libs/stripe-php
	url = git://github.com/stripe/stripe-php.git
[submodule "application/libs/raven-php"]
	path = application/libs/raven-php
	url = git://github.com/getsentry/raven-php.git
