/**** STRUCTURE ****/
body {
    background: #fff;
    color: #505050;
    padding-bottom: 40px;
}

#wrap {
    width: 600px;
    margin: 85px auto 40px auto;
}
#wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

#signedInBar {
    width: 100%;
    padding: 7px 5px 5px 5px;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4)); /* for webkit browsers */
    border-bottom: 1px solid #e1e1e1;
}
#signedInText {
    width: 870px;
    margin: 0 auto;
    text-align: center;
}
#signedInText a:link, #signedInText a:visited {
    color: #336699;
    text-decoration: none;
}
#signedInText a:hover {
    color: #cc3300;
    text-decoration: underline;
}

#eventCountdown {
    padding: 10px;
    text-align: center;
    color: #fff;
    background: #006699;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
}

/**** LEFT ****/

.left {
    display: inline;
    float: left;
    width: 100px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

#logo {
    width: 82px;
    height: 82px;
    margin: 0 0 50px 0;
    overflow: hidden;
    background: transparent url('/assets/img/logo-circle.png') no-repeat;
    text-indent: -8000px;
}

.left ul {
    list-style: none;
}
.left li {
    display: block;
    margin-bottom: 1px;
}
.left ul a:link, .left ul a:visited {
    display: block;
    width: 80px;
    padding: 8px 8px 6px 8px;
    color: #6699cc;
    text-decoration: none;
    border-radius: 14px;
}
.left ul a:hover {
    color: #336699;
}
.left ul a.active {
    color: #fff;
    background: #292929;
}

.left dl {
    margin-top: 35px;
    font-weight: bold;
}
.left dt {
    padding: 8px 8px 6px 8px;
    color: #999;
}
.left dd a:link, .left dd a:visited {
    display: block;
    padding: 8px 8px 6px 30px;
    color: #6699cc;
    text-decoration: none;
    }
.left dd a:hover {
    color: #336699;
}
a#twitter {
    background: transparent url('/assets/img/icons/16px/twitter-2.png') no-repeat 8px 5px;
}
a#facebook {
    background: transparent url('/assets/img/icons/16px/facebook.png') no-repeat 8px 5px;
}
a#email {
    background: transparent url('/assets/img/icons/16px/email.png') no-repeat 8px 5px;
}

/**** RIGHT ****/

.right {
    display: inline;
    float: right;
    width: 450px;
}
.showing {
    display: block;
}
.hiding {
    display: none;
}

h1 {
    font-weight: normal;
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 32px;
}
h2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 32px;
}

h3 {
    font-size: 16px;
    line-height: 22px;
    margin-top: 40px;
}
h3:first-child {
    margin-top: 0;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 16px;
    color: #979797;
}

.right h3 a:link, .right h3 a:visited {
    text-decoration: none;
    color: #505050;
    padding-right: 20px;
}
.right h3 a:hover {
    color: #67ac1c;
}

.right p a:link, .right p a:visited {
    color: #333;
    font-weight: bold;
}
.right p a:hover {
    color: #528a15;
}

a.opened {
    background: transparent url('/assets/img/icons/close_8x8.png') no-repeat right top;
}
a.closed {
    background: transparent url('/assets/img/icons/open_8x8.png') no-repeat right top;
    }

ul#shareLinks {
    margin: 10px 0;
}
ul#shareLinks:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}
ul#shareLinks li {
    float: left;
    display: inline;
    margin-right: 5px;
}
ul#shareLinks a:link, ul#shareLinks a:visited {
    display: block;
    width: 75px;
    padding: 10px 10px 8px 35px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
ul#shareLinks .facebook{
    background: #3B5998 url('/assets/img/icons/facebook-f.png') no-repeat left bottom;
}
ul#shareLinks .twitter{
    background: #00aced url('/assets/img/icons/twitter-bird.png') no-repeat 7px 9px;
}
ul#shareLinks .email{
    background: #99ccff url('/assets/img/icons/mail_24x18.png') no-repeat 5px 8px;
}
ul#shareLinks a:hover {
    opacity: .8;
}

#shareViaEmail {
    display: none;
    margin: 0 0 20px 0;
    padding: 20px;
    background: #eef4f7;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#share-content input[type=text] {
    border-radius: 10px;
    background: #edf8ff;
    padding: 10px 10px 8px 10px;
    font-size: 16px;
    line-height: 18px;
    width: 450px;
    text-align: center;
}

#shareViaEmail input[type=text] {
    border-radius: 10px;
    background: #fff;
    padding: 10px 10px 8px 10px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 18px;
    width: 390px;
    text-align: left;
}
#shareViaFrom { color: #999 }

h3#shareMessageSent {
    padding: 5px;
    text-align: center;
    font-weight: normal;
    color: #fff;
    background: #339900;
    border-radius: 5px;
    margin-bottom: 10px;
}

#questionForm {
    margin: 0 0 20px 0;
    padding: 20px;
    background: #eef4f7;
    border-radius: 5px;
}

textarea {
    resize: none;
    display: block;
    width: 390px;
    height: 100px;
    margin: 20px 0;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    color: #999;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
}
#shareViaEmail  textarea {
    color: #000;
    margin-top: 0;
}
input[type=submit] {
    display: block;
    color: #fff;
    background: #6699cc;
    padding: 10px 20px 8px 20px;
    border: none;
    border-radius: 35px;
    width: 100px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
input[type=submit]:hover {
    background: #336699;
    cursor: pointer;
}
input#event-url {
    margin-bottom: 20px;
}

#event-pin {
    margin: 20px auto;
    width: 200px;
    padding: 20px;
    text-align: center;
    font-size: 36px;
    line-height: 38px;
    color: #fff;
    background: #006699;
    border-radius: 10px;
}
    
/**** BOTTOM ****/

a#event-link:link, a#event-link:visited {
    display: block;
    color: #fff;
    background: #67ac1c;
    margin-top: 40px;
    padding: 20px 40px 18px 40px;
    border-radius: 35px;
    width: 170px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
a#event-link:hover {
    background: #528a15;
}