/**** STRUCTURE ****/
body {
	background: #f5fafc;
	color: #666;
}

#signLogo {
	display: block;
	width: 82px;
	height: 82px;
	margin: 25px auto;
}

#guestSigninTop {
	height: 40px;
}

#error {
	color: #fff;
	background: #cc3300;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

#reset {
	color: #222222;
	background: #99cc33;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}

#signinWrap h1 {
	font-size: 26px;
	line-height: 30px;
	color: #000;
	margin-bottom: 5px;
	text-align: center;
}

#signinWrap h2 {
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	color: #999;
	text-align: center;
	margin-bottom: 10px;
}
h2#guestH2 { margin-top: 15px; }

#signinWrap label {
	display: block;
	text-align: center;
}

#signinWrap input {
	background: #f4f4f4;
}
input#pinInput {
	display: block;
	width: 100px;
	margin: 0 auto;
}
#signinWrap input:focus {
	background: #f5ffe8;
}
.inputError {
	border-color: #cc3300;
	background-color: #ffcccc
}

a#forgotPassword {
	display: block;
	margin-top: 40px;
	text-align: center;
}