/**** STRUCTURE ****/
#wrap {
    margin: 85px auto 40px auto;
}

/**** LEFT ****/
#left {
    position: fixed;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

#logo {
    display: block;
    width: 82px;
    height: 82px;
    margin: 0 0 50px 45px;
    overflow: hidden;
    background: transparent url('../img/logo-circle.png') no-repeat;
    text-indent: -8000px;
    text-decoration: none;
}

#left ul {
    list-style: none;
}
#left li {
    display: block;
    margin-bottom: 1px;
}
#left ul a:link, .left ul a:visited {
    display: block;
    width: 100px;
    padding: 8px 8px 6px 8px;
    color: #6699cc;
    text-decoration: none;
    border-radius: 14px;
}
#left ul a:hover {
    color: #336699;
}
#left ul a.active {
    color: #fff;
    background: #292929;
}

/**** RIGHT ****/
#your, #billing { display: none; }

h1 {
    font-weight: normal;
    font-size: 28px;
    line-height: 30px;
    margin: 20px 0 0 0;
}
h2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #979797;
    margin: 0 0 60px 0;
}

h3 {
    font-size: 16px;
    line-height: 22px;
    margin-top: 40px;
    margin-bottom: 20px;
}
#package h4 { margin-bottom: 10px; text-align: center; }

h4 {
    font-size: 16px;
    line-height: 22px;
    color: #999;
}

#package {
	padding: 0 0 0 40px;
	border-left: 1px solid #ccc;
}       

/**** FORM ****/
div.ui-datepicker{
 font-size:14px;
}

/* event field modifications */
#event_location { width: 100%; }
#event_url-start { width: 28%; font-size: 14px; padding-top: 4px; padding-right: 5px;}
#event_url { width: 72%; }
#user_email { width: 100%; }
#cc_cvc { width: 15%; }

.help-block {
    font-size:12px;
}

.parsley-error-list {
    display: inline-block;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
	color: #cc3300;
	font-size: 14px;
	line-height: 14px;
}
.input-error {
	border:2px solid #cc3300;
}

hr {
    margin: 15px 0px;
    height: 1px;
    background-color: #ccc;
    border: 0px;
}

#package ul {
    list-style: none;
    padding-left: 0;
}
#package li {
	text-align: center;
	padding: 10px 0;
}

.package-big-bottom {
	text-align: center;
	padding: 7px 0 7px 0;
	height: 60px;
	background:  transparent url('/assets/img/package_sm_bx.png') no-repeat left bottom;
	overflow: hidden;
	font-size: 64px;
	line-height: 46px;
	color: #357a9e;
	font-weight: bold;
}

.package-promo {
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	margin: 15px 0;
}

.package-promo input {
	width: 125px;
	font-size:14px;
	padding: 2px 2px 6px 2px;
	margin-top: 6px;
	margin-bottom: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
	background-color: #f4f9fc;
}
#apply-promo-code {
	box-shadow: 1px 1px 2px 1px #ccc;
}

.secureInfo {
	float: right;
	padding: 14px 5px;
	border-radius: 5px;
	background: #66ccff;
	color: #fff;
	line-height: 14px;
}

.field-error {
	display: none;
	color: #cc3300;
	font-size: 14px;
	line-height: 14px;
}
.input-error {
	border:2px solid #cc3300;
}

#billing select.short {
    width: 130px;
}

img.disabled {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

/* Signup Spinner */
#signup-spinner {
    display: block;
    margin-left: 90px;
}