/**** STRUCTURE ****/
#restOfPageWrap {
	margin: 96px auto 0 auto;
}

/**** EVENT TITLE AREA ****/

#event-top {
	margin-bottom: 25px;
	margin-left: 8px;
}
#event-top h1,
#event-top h2,
#event-top h3,
#event-top h4,
#event-top h5,
#event-top h6 {
	margin: 0;
}

#event-pin {
	float: right;
	display: inline;
	width: 100px;
	margin-top: 30px;
	padding: 10px 10px 5px 10px;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	background: #006699;
	border-radius: 10px;
}
#event-pin div {
	font-size: 30px;
	line-height: 32px;
}

#setup-wrap {
	width: 790px;
	margin: 100px auto 20px auto;
	background: #fff;
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 10px;
}

#event-top:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

/** Event Cover **/
#event-cover-image {
	float: left;
	width: 135px;
	height: 135px;
	margin: 27px 10px 0 0;
	box-shadow: 1px 1px 2px 1px #ccc;
}

#event-title-wrap {
	float: left;
	display: inline;
	width: 640px;
	padding-top: 25px;
}

/** Event Social **/
#event-title-wrap ul#event-social,
ul#event-social  {
	margin: 10px 0;
	list-style: none;
	line-height: 14px;
	color: #999;
}
#event-social li {
	display: inline;
	position: relative;
	padding: 0;
}

/** Event Navigation **/
#event-nav span.down {
	padding-bottom: 5px;
	background: transparent url('/assets/img/down-arrow.png') no-repeat center bottom;
}

ul#event-nav  {
	list-style: none;
	line-height: 14px;
	color: #999;
}
#event-nav li {
	display: inline;
	position: relative;
	padding: 0 5px;
	border-right: 1px dotted #ccc;
}
#event-nav li:first-child {
	padding-left: 0;
}
#event-nav li:last-child {
	padding-right: 0;
	border-right: none;
}

.event-nav-menu {
	display: none;
	position:absolute;
	width:220px;
	z-index:100;
	text-align:left;
	padding:10px;
	top: 20px; 
	left: 0px;
	background: #ddeef6;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
}
#event-nav-menu-share {
	width: 135px;
}
#event-nav-menu-privacy ul {
	padding: 8px 16px;
	width: 200px;
	height: 38px;
	list-style: none;
}
#event-nav-menu-privacy li {
	float: left;
	width: 80px;
	margin-bottom: 5px;
	border-right: none;
}

/* event title editing */
#event-title-wrap > * {
	padding-left: 16px;
}

#event-title-wrap ul {
	margin: 0;
}

#event-title input {
	font-size: inherit;
	color: inherit;
}

#event-title-wrap textarea {
	margin-top: 10px;
	width: 640px;
	height: 65px;
	padding: 10px;
	font-size: 16px;
	line-height: 20px;
	border: 1px solid #ccc;
	color: #999;
	-moz-box-shadow: 0 4px 2px -2px #666;
	-webkit-box-shadow: 0 4px 2px -2px #666;
	box-shadow: inset 1px 1px 6px -2px #000;
	resize: none;
}

/** Event Settings **/
#event-settings {
	display: none;
	width: 475px;
	position: absolute;
	top: 60px;
	padding: 20px;
	color: #999;
	background: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	z-index: 100;
}
#event-settings h3 {
	padding-bottom: 10px;
	margin: 0 0 10px 0;
	font-weight: 600;
	color: #000;
	border-bottom: 1px solid #ccc;
}
#event-settings span.status {
	margin-left: 4px;
	width: 16px;
	display: inline-block;
}
#event-settings #map_canvas-wrap {
	padding: 10px 0;
}

#event-settings label {
	font-size: 14px;
	line-height: 14px;
	color: #333;
}

#event-settings input[type=text] {
	width: 95%;
	padding: 7px 10px;
	border: 1px solid #f4f4f4;
	border-radius: 3px;
	font-size: 16px;
	line-height: 18px;
	-webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .3);
	box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .3);
}
#event-settings select {
	width: 72px;
}
#event-settings .status.bad {
	background: url('/assets/img/x_alt_16x16.png') no-repeat right bottom;
}
#event-settings .status.good {
	background: url('/assets/img/check_alt_16x16.png') no-repeat right bottom;
}
#event-settings .status.spinner-16px {
	background: url('/assets/img/spinner_blue_sm.gif') no-repeat right bottom;
}

#event-settings .small-field {
	padding: 5px 0;
}
#event-settings .small-field:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

#event-settings .small-field label {
	display: block;
}
#event-settings .small-field-inner {
	float: left;
	margin-right: 5px;
}
#event-settings .small-field-inner input[type=text] {
	width: 110px;
	display: block;
}

#event-settings .small-field-inner-wide select {
	display: inline-block;
}

div.time-picker {
	z-index: 100;
}

/** Misc **/
.noPhotos {
	position: relative;
	background-image:url(/assets/img/firstrun-overlay.jpg);
	width:900px;
	height:728px;
}

#eventFirstRun {
	position: absolute;
	z-index: 2;
}
#eventFirstRunText {
	list-style: none;
}
#eventFirstRunText li {
		display: none;
}
#eventFirstRunText li.displayMe {
	display: block;
	width: 720px;
	height: 240px;
	padding: 125px 90px 40px 90px;
	text-align: center;
}
#eventFirstRun h1 {
	font-size: 42px;
	line-height: 48px;
	color: #333;
	font-weight: bold;
}
#eventFirstRun h2 {
	font-size: 42px;
	line-height: 48px;
	color: #3399cc;
	font-weight: bold;
}
#eventFirstRun h3 {
	font-size: 22px;
	line-height: 28px;
	color: #999;
	font-weight: normal;
}
#eventFirstRunDots {
	list-style: none;
	width: 60px;
	margin: 0 auto;
}
#eventFirstRunDots a {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 5px;
	overflow: hidden;
	background: transparent url('/assets/img/dotGrey.png') no-repeat;
	text-indent: -8000px;
}
#eventFirstRunDots a.blue {
	background-image: url('/assets/img/dotBlue.png');
}
#guestsText {
	background: transparent url('/assets/img/firstrun/arrowGuests-2.png') no-repeat 55px 30px;
}
#shareText {
	background: transparent url('/assets/img/firstrun/arrowShare.png') no-repeat 20px 5px;
}
#privacyText {
	background: transparent url('/assets/img/firstrun/arrowPrivacy.png') no-repeat 20px 5px;
}
#slideshowText {
	background: transparent url('/assets/img/firstrun/arrowSlideshow.png') no-repeat 100px 10px;
}
#uploadText {
	background: transparent url('/assets/img/firstrun/arrowUpload.png') no-repeat 45px 10px;
}

.photo {
	float: left;
	display: inline;
	padding: 5px;
	margin: 0 10px 15px 10px;
	width: 210px;
	min-height: 200px;
	background: #fff;
	-moz-box-shadow: 1px 1px 2px 1px #ccc;
	-webkit-box-shadow:1px 1px 2px 1px #ccc;
	box-shadow:1px 1px 2px 1px #ccc;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	color: #999;
}
.photoHidden { display: none; }

.photo img {
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin-bottom: 5px;
}
.photo img.photo-comment {
	width: 9px;
	height: 7px;
	overflow: hidden;
	vertical-align: middle;
}
.photo-overlay {
	display: none;
	position: absolute;
	z-index: 2;
	width: 200px;
	height: 200px;
	color: #fff;
	background: transparent url('/assets/img/black-60per.png');
	text-align: center;
}
ul.photo-share {
	position: absolute;
	top: 10px;
	width: 200px;
	text-align: center;
	list-style: none
}
ul.photo-share:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}
ul.photo-share li {
	display: inline-block;
}

#event-nav-menu-share .share {
	margin: 5px auto;
}


.photo-overlay h3 {
	position: absolute;
	top: 60px;
	width: 100%;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	text-align: center;
	font-weight: normal;
}

.photo-buttons {
	position: absolute;
	top: 65px;
	width: 200px;
	text-align: center;
}
a.button:link, a.button:visited {
	display: block;
	width: 120px;
	margin: 0 auto;
	padding: 7px 5px 5px 5px;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	color: #fff;
	text-decoration: none;
	border-radius: 8px;
	-moz-box-shadow: 1px 1px 2px 1px #333;
	-webkit-box-shadow:1px 1px 2px 1px #333;
	box-shadow:1px 1px 2px 1px #333;
}
a.button:hover {
	background: #fff;
	border-color: #e1e1e1;
	color: #66ccff;
}

div#photo-action-container {
	margin: 0 auto;
}

ul#photo-action {
	display: block;
	position: absolute;
	bottom: 0px;
	margin: 0;
}

ul#photo-action li {
	list-style: none;
	float: left;
	padding: 0 0 0 5px;
}

ul#photo-action li a {
	display: block;
	width: 40px;
	padding: 7px 5px 2px 5px;
	overflow: hidden;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-indent: -8000px;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
}

ul#photo-action li a.photo-delete:link, ul#photo-action li a.photo-delete:visited {
	width: 26px;
	height: 24px;
	position: relative;
	bottom: -7px;
	border-top: 2px solid #880000;
	border-right: 2px solid #880000;
	border-left: 2px solid #880000;
	background: #ff1e00 url('/assets/img/icons/white/x_alt_12x12.png') no-repeat 5px 5px;
	-moz-box-shadow:    inset  0  0 0 -8px #dd1a00, 
                        inset  0 -8px 8px -8px #dd1a00;
    -webkit-box-shadow: inset  0  0 0 -8px #dd1a00, 
                        inset  0 -8px 8px -8px #dd1a00;
     box-shadow:        inset  0  0 0 -8px #dd1a00, 
                        inset  0 -8px 8px -8px #dd1a00;
}
ul#photo-action li a.photo-delete:hover {
	border-color: #e1e1e1;
	background: #fff url('/assets/img/icons/red/x_alt_12x12.png') no-repeat 5px 5px;
}

a.photo-enlarge:link, a.photo-enlarge:visited {
	border-top: 2px solid #4388aa;
	border-right: 2px solid #4388aa;
	border-left: 2px solid #4388aa;
	background: #66ccff url('/assets/img/icons/magnifier_16x16.png') no-repeat 10px 7px;
	-moz-box-shadow:    inset  0  0 0 -8px #336699, 
                        inset  0 -8px 8px -8px #336699;
    -webkit-box-shadow: inset  0  0 0 -8px #336699, 
                        inset  0 -8px 8px -8px #336699;
     box-shadow:        inset  0  0 0 -8px #336699, 
                        inset  0 -8px 8px -8px #336699;
}
a.photo-enlarge:hover {
	border-color: #e1e1e1;
	background: #fff url('/assets/img/icons/magnifying_glass_16x16-blue.png') no-repeat 10px 7px;
}

ul#photo-action li a.photo-download:link, ul#photo-action li a.photo-download:visited {
	width: 26px;
	height: 24px;
	position: relative;
	bottom: -7px;
	border-top: 2px solid #999;
	border-right: 2px solid #999;
	border-left: 2px solid #999;
	background: #ccc url('/assets/img/icons/download_12x12.png') no-repeat 5px 5px;
	-moz-box-shadow:    inset  0  0 0 -8px #666, 
                        inset  0 -8px 8px -8px #666;
    -webkit-box-shadow: inset  0  0 0 -8px #666, 
                        inset  0 -8px 8px -8px #666;
     box-shadow:        inset  0  0 0 -8px #666, 
                        inset  0 -8px 8px -8px #666;
}
ul#photo-action li a.photo-download:hover {
	border-color: #666;
	background-color: #999;
}

#uploadArea {
	padding: 20px;
	text-align: center;
}
#photoRetriever { 
	width: 200px; 
	margin: 0 auto;
}
/********/

.divider {
	height: 20px;
	border-bottom: 1px dotted #c3d7ec;
	margin: 0 0 20px 0;
	visibility:visible;
}

/*** TEXT ****/

h1 {
	font-size: 1em;
	line-height: 1em;
	color: #666;
	font-weight: normal;
}
h1#event-timestamp-start {
	margin-bottom: 10px;
}
#setup-wrap #event-top h2 {
	padding-top: 20px;
}
h2 {
	color: #3399cc;
	font-weight: normal;
}
h3 {
	font-size: 18px;
	line-height: 20px;
	color: #3399cc;
	margin-bottom: 40px;
}

/* MUSTACHE BOXES */
.mustache-box {
	display: none;
	background: #fff;
	border-radius: 5px;
	margin: 10px;
	padding: 30px;
	border: 1px solid #e1e1e1;
}

.mustache-box .section ul.connect {
	list-style: none;
}
.mustache-box .section ul.connect li {
	display: block;
	float: left;
	margin-right: 10px;
}

/**** GUEST & SLIDESHOW UPLOAD AREA ****/
#notifyBox, #guestlistBox, #tablecardBox {
	display: none;
	overflow-x: hidden;
}

ul.tabs {
	margin: 20px 0 0 0;
	padding: 0;
}
ul.tabs li {
	display: inline;
	margin: 0 2px 0 0;
	padding: 10px 15px 5px 15px;
	border-top: 1px solid #b6d7e4;
	border-left: 1px solid #b6d7e4;
	border-right: 1px solid #b6d7e4;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #f5fafc;
	color: #b6d7e4;
	font-weight: bold;
}
ul.tabs li.fifty {
	display: inline-block;
	width: 175px;
	margin-bottom: -3px;
}
ul.tabs li.hundred {
	display: block;
	width: 380px;
	margin-bottom: -3px;
}
ul.tabs li.active {
	border-color: #3399cc;
	background: #3399cc;
	color: #fff;
}

ul.tabs li a:link, ul.tabs li a:visited {
	color: #b6d7e4;
	text-decoration: none;
}
ul.tabs li a:hover {
	color: #3399cc;
}
ul.tabs li.active a { color: #fff; }

.tab-content {
	margin-top: 3px;
	padding: 20px 0;
	border-top: 1px solid #3399cc;
	font-size: 14px;
	line-height: 18px;
}
.tab-content a:link, .tab-content a:visited {
   font-weight: bold;
}
#add-guests-wrap p {
	margin: 10px 0;
}

a#guest-link-upload:link, a#guest-link-manual:link, a#guest-link-upload:visited, a#guest-link-manual:visited {
	display: inline-block;
	width: 170px;
	border: 1px solid #ccc;
	color: #666;
	border-radius: 5px;
	padding:60px 10px 10px 10px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0;
	text-decoration: none;
}
a#guest-link-upload:link, a#guest-link-upload:visited { 
	float: left; 
	margin-left: 10px;
	background: #e1e1e1 url('/assets/img/icons/upload-file.png') no-repeat center top;
}
a#guest-link-manual:link, a#guest-link-manual:visited { 
	float: right;
	margin-right: 10px;
	background: #e1e1e1 url('/assets/img/icons/copy-paste.png') no-repeat center top;
}

a#guest-link-upload:hover, a#guest-link-manual:hover {
	border: 1px solid #00ccff;
	background-color: #d0e8ee;
}

.guests-options-wrap { 
	background: #ffffee;
	border: 1px solid #E3C27C;
	border-radius: 5px;
	padding: 10px;
	margin: 20px auto 0 auto;
}
.guests-options-wrap p {
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 10px 0;
}

#guests-file-how-to-csv {
	display: none;
	border-top: 1px solid #E3C27C;
	padding-top: 10px;
	margin-top: 20px;
}

.guests-back-to-choices {
	display: block;
	width: 50px;
	margin: 0 auto 5px auto;
}

#notify-wrap {
	margin: 20px auto;
}

#guest-choices h3 { font-weight: normal; margin-bottom: 20px; }
#guest-choices h3 strong { color: #3399cc; }

#notify-guests {
	display: none;
}

#notify-group {
	float: left;
	display: inline;
	width: 160px;
	padding: 20px 0;
}
#notify-group p {
	margin-bottom: 10px;
}
#notify-message {
	float: left;
	display: inline;
	width: 680px;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #ccc;
	background: #eeeeee;
	margin-top: 12px;
}

#notify-message textarea {
	display: block;
	width: 520px;
	height: 100px;
	resize: none;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 10px;
	margin: 10px auto;
	background: #fff url('/assets/img/textbox-inner-shadow.png') no-repeat;
	font-size: 14px;
	line-height: 18px;
	color: #999;
}

#do-notify-wrap {
	margin: 5px 0;
	color: #999;
	font-size: 14px;
	line-height: 16px;
}

/**** GUEST LIST ****/
#guestlistBox .table tbody>tr>td {
	border-top: none;
	border-bottom: 1px dotted #ddd;
}

#guestlistBox a:link, #guestlistBox a:visited {
	font-weight: normal;
}

#tablecards img {
	float: right;
	margin-left: 25px;
	height: 275px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

#tablecards .download {
    color: #fff;
    font-weight: bold;
    box-shadow: 1px 1px 5px 1px #ccc;
}

/*** PHOTO OVERLAY ****/

.photoOverlay {
	width: 820px;
	height: 525px;
	margin: 10px;
	padding: 15px;
	background: #f5fafc;	
	border-radius: 5px;
	border: 1px solid #bccfd6;
}

#photo {
	float: right;
	display: inline;
	padding: 14px;
	width: 510px;
	height: 510px;
	background: transparent url('/assets/img/bg-photo.png') no-repeat;
}
#details {
	float: left;
	display: inline;
	width: 225px;
	padding-left: 10px;
	margin-top: 25px;
	font-size: 14px;
	line-height: 26px;
	color: #999;
}
strong { color: #666; }
#details a:link, #details a:visited {
	color: #3399cc;
	font-size: 16px;
}
#details a:hover {
	color: #cc3300;
}
a#photo-download:link, a#photo-download:visited {
	color: #fff;
	font-size: 14px;
	padding: 5px 15px 3px 27px;
	background: #3399cc url('/assets/img/icons/download_8x8-wh.png') no-repeat 10px 7px;
	border-radius: 10px;
	text-decoration: none;
}
a#photo-download:hover {
	background-color: #cc3300;
}

a#back:link, a#back:visited {
	display: none;
	width: 75px;
	font-size: 20px;
	text-align: center;
	color: #fff;	
	background: #35789b;
	border-radius: 5px;
	text-decoration: none;
	padding: 5px 10px 2px 10px;
	margin-bottom: 25px;
}
a#back:hover {
	color: #fff;
	background: #cc3300;
	border-radius: 5px;
}

.photoOverlay h1 {
	font-size: 18px;
	line-height: 24px;
	color: #333;
	margin: 40px 0 20px 0;
	font-weight: normal;
	font-style: italic;
}
.photoOverlay h2 {
	font-size: 14px;
	line-height: 16px;
	color: #999;
	margin: 40px 0 10px 0;
	font-weight: normal;
}
.photo-cover {
	color: #666;
	background-color: #ffcc99;
}
.add-cover, .share {
	background: #66ccff;
	border: 2px solid #52b0df;
}
.photo-buttons .share {
	width: 65px;
}
.remove-cover {
	background: #ff3300;
	border: 2px solid #cc3300;
}