#slides {
    background: #000;
}

#slides .letterbox img {
    margin: auto;
    display: block;
}

#slides .slide-container {
    margin-top: -20px;
}

#slides .container {
    bottom: 5%;
    left: 15%;
}
#slides .container p {
    margin: 5px;
}

#fullscreen {
    z-index: 9999;
    position: fixed;
    top: 1em;
    width: 90px;
    margin: 0 0 0 -45px;
    left:50%;
}

/* this works */
#slides:-webkit-full-screen #fullscreen { display: none }
#slides:-moz-full-screen #fullscreen { display: none }
#slides:-ms-full-screen #fullscreen { display: none }
#slides:-o-full-screen #fullscreen { display: none }
#slides:full-screen #fullscreen { display: none }