/**** STRUCTURE ****/
#wrap {
    margin-top: 55px;
}

/**** LEFT ****/

#logo {
        display: block;
        width: 82px;
        height: 82px;
        margin: 0 0 30px 0;
        overflow: hidden;
        background: transparent url('../../home/img/logo-circle.png') no-repeat;
        text-indent: -8000px;
        text-decoration: none;
}

#left {
    position: fixed;
}

#left ul {
        list-style: none;
        margin-left: 0px;
        padding-left: 30px;
}

#left ul a:link, #left ul a:visited {
    display: block;
    width: 96px;
    padding: 6px 10px;
    color: #6699cc;
    text-decoration: none;
    border-radius: 10px;
}
#left ul a:hover {
        color: #336699;
}
#left ul a.active {
        color: #fff;
        background: #292929;
}

#left dl {
        margin-top: 10px;
        font-weight: bold;
}
#left dt {
        padding: 8px;
        color: #999;
}
#left dd a:link, .left dd a:visited {
        display: block;
        padding: 8px 8px 6px 30px;
        color: #6699cc;
        text-decoration: none;
        }
#left dd a:hover {
        color: #336699;
}
a#twitter {
        background: transparent url('../../img/icons/16px/twitter-2.png') no-repeat 8px 9px;
}
a#facebook {
        background: transparent url('../../img/icons/16px/facebook.png') no-repeat 8px 9px;
}
a#pinterest {
        background: transparent url('../../img/icons/16px/pinterest.png') no-repeat 8px 9px;
}
.copyright {
        margin-top: 30px;
        color: #999;
        font-size: 14px;
        font-weight: normal;
}

/**** RIGHT ****/
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.75em;
    margin-top: 2em;
}

h3 {
    font-size: 1.15em;
    line-height: 1.3em;
}
        
/**** BOTTOM ****/
a#signup-link:link, a#signup-link:visited {
        margin-left: 20px;
        min-width: 110px;
        font-weight: bold;
        box-shadow: 1px 1px 5px 1px #ccc;
}

/* CONTACT FORM */
#questionForm {
    padding: 20px;
    background: #eef4f7;
    border-radius: 5px;
}