/**** STRUCTURE ****/
body {
	background: #fff url('/assets/img/bg-signup-form.jpg') repeat-y center top;
	color: #666;
}

#homeHead { width: 775px; }

.contentWrap, section {
	width: 775px;
	margin: 0 auto;
}
section { margin-left: 20px; margin-bottom: 25px; }

#restOfPageWrap {
	margin: 120px auto 50px auto;
	width: 775px;
}

.tallclear { 
	display: block;
    height: 20px;
    clear: both;
    margin: 0;
    padding: 0;
   }

/**** FORM ****/

.form-fields {
	float: left;
	display: inline;
	width: 400px;
	/*background: transparent url('/assets/img/form-box-bg.gif') no-repeat;*/
}

.form-column-right {
	float: right;
	display: inline;
	width: 290px;
	color: #fff;
}
.form-column-right a:link, .form-column-right a:visited {
	color: #66ccff;
}
.form-column-right a:hover {
	color: #ffcc00;
}

.form-box {
	margin: 15px 0 0 0;
	padding: 0 0 0 0;
}


.form-fields hr {
  width: 350px;
  margin: 5px 0px 13px 0px;
  height: 1px;
  background-color: #ccc;
  border: 0px;
}
.form-fields hr.thick, .form-fields hr.thicker {
	height: 3px;
}
.form-fields hr.thicker, .form-fields hr.longer {
	width: 400px;
}

.form-column-right hr {
  margin: 35px 0px 23px 0px;
  height: 1px;
  background-color: #ccc;
  border: 0px;
}

.form-field input[type="text"] {
  width:350px;  
}
.password-field input[type="password"] {
  width:165px;  
}

.form-field {
  padding:0;
  margin:0 0 10px 0;
  float:left;
}
.password-field {
  padding:0;
  margin:0 0 10px 0;
  float:left;
  width: 175px;
}
.password-field.field-separated { margin-right: 10px; }

.small-field input[type="text"] {
  width:70px;  
}
.small-field input[type="text"].longer {
  width:85px;  
}

.small-field, .small-field-inner {
  padding:0;
  margin:0 0 5px 0;
  float:left;
}
.small-field:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}
.small-field-inner {
	width: 90px;
}

.expires-field {
	float: left;
	width: 150px;
}
.cvv-field {
	float: left;
	width: 200px;
}

div.ui-datepicker{
 font-size:11px;
}

.form-field.field-separated, .small-field.field-separated {
  clear:both;
  float:left;
  margin-right:15px;
}

.form-field input, .small-field input, .password-field input, .cvv-field input {
  font-size:14px;
  padding:5px;
  margin-bottom: 10px;
  background-color:#fff;
  -webkit-transition: background-color 1s linear;
}

#event_location { float: left; width: 325px; }
#event_url { float: left; width: 216px; }
#event_location_status, #event_url_status { float: right; width: 16px; margin-left: 5px; }

#zip_field input { margin-bottom: 0; }

.form-field input:focus, .password-field input:focus {
  background-color:#fff9c5;
}

.form-field label, .password-field label, .small-field label, .expires-field label, .cvv-field label {
  display:block;
  color:#425357;
  font-size:14px;
  padding:0 0 5px 1px;
  font-weight: normal;
}

.form-field label em, .password-field label em {
  font-size:11px;
  color:#425357;
}

.form-field span.info {
  padding:6px 5px 6px 0px;
  font-size:16px;
  font-weight:bold;
  color:#425357;
}
span.left { float: left; }

.form-field_hint {
  font-size:11px;
  line-height:13px;
  color: #526b6d;
  margin: 2px 0;
}

.form-field img, .cvv-field img {
	margin-left: 5px;
	vertical-align: middle;
}

.terms-box {
	background: #ffe990;
	margin: 11px 11px 0 11px;
	padding: 25px 25px 14px 25px;
}

.url_bad, .url_good {
	float: right;
	margin-top: 7px;
	margin-right: 35px;
	width: 16px;
	height: 16px;
	overflow: hidden;
}
.url_bad {
	background: transparent url('/assets/img/x_alt_16x16.png') no-repeat;
}
.url_good {
	background: transparent url('/assets/img/check_alt_16x16.png') no-repeat;
}


.location_good, .spinner-16px {
	float: right;
	margin-top: 7px;
	width: 16px;
	height: 16px;
	overflow: hidden;
}
.location_good {
	background: transparent url('/assets/img/check_alt_16x16.png') no-repeat;
}
.spinner-16px {
	background: transparent url('/assets/img/spinner-sm.gif') no-repeat;
}



.form-package-details {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	margin-top: 150px;
}
.form-package-details strong { font-weight: normal; color: #e1e1e1; }

#refund-policy {
	margin-top: 85px;
	color: #fff;
	font-weight: normal;
}

#credit_cards {
  padding-top:3px;
  margin-top: 95px;
  margin-bottom: 10px;
}
#receipt_text {
	color: #fff;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	margin: 15px 0;
}

#btn-sign-up {
	margin-left: 15px;
}

/**** STEP 2 ****/

#event-setup-cover-wrap {
	float: left;
	display: inline-block;
	width: 120px;
	height: 120px;
	padding: 5px 6px 6px 5px;
	margin: 0 10px 0 0;
	background: transparent url('/assets/img/cover-setup-image-wrap.png') no-repeat;
}
#event-setup-cover-image {
	border: none;
	width: 120px;
	height: 120px;
	overflow: hidden;
}

.event-title-input {
	width: 250px;
	margin-top: 5px;
	padding: 10px 10px 8px 10px;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	border: 1px solid #ccc;
	color: #666;
	-moz-box-shadow: 0 4px 2px -2px #666;
	-webkit-box-shadow: 0 4px 2px -2px #666;
	box-shadow: inset 1px 1px 6px -2px #000;
}
#event-title-wrap textarea {
	margin-top: 10px;
	width: 250px;
	height: 70px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 16px;
	border: 1px solid #ccc;
	color: #999;
	-moz-box-shadow: 0 4px 2px -2px #666;
	-webkit-box-shadow: 0 4px 2px -2px #666;
	box-shadow: inset 1px 1px 6px -2px #000;
	resize: none;
}


#uploadArea {
	display: block;
	border: 2px solid #c3d7ec;
	background: #f4f4f4;
	border-radius: 3px;
	padding: 50px 30px;
	margin: 10px 0 40px 0;
	text-align: center;
	-moz-box-shadow: 0 4px 2px -2px #666;
	-webkit-box-shadow: 0 4px 2px -2px #666;
	box-shadow: inset 1px 1px 6px -2px #000;
}

#event-privacy { margin-top: 100px; }
#event-privacy ul {
	float:left;
	width: 120px;
	margin-top: 10px;
	list-style: none;
}
#event-privacy li {
	margin-bottom: 5px;
	font-size: 12px;
	line-height: 16px;
}



a#save-event {
	display: block;
	width: 273px;
	height: 75px;
	margin: 30px auto 0 auto;
	text-indent: -8000px;
	background: transparent url('/assets/img/save_event.png') no-repeat;
}

/**** ADD GUESTS OVERLAY ****/

#add-guests {
	padding: 10px;
}

/**** TEXT ****/

h1 {
	color: #333;
	font-size:32px;
	line-height: 34px;
}

h2 {
	color: #999;
	font-size:16px;
	line-height: 24px;
	font-weight:normal;
	margin: 5px 0 20px 0;
}

section#few-details h2 { margin-bottom: 40px; }

h3 span {
	font-size: 14px;
	padding-left: 5px;
	color: #d99d36;
}

h3 {
	font-size: 20px;
	line-height: 26px;
	padding: 10px 0 0 0;
	color: #333;
}

h4 {
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 15px;
}
p {
	margin: 0 0 15px 0;
	font-size: 14px;
	line-height: 20px;
}
.form-package-details p { font-size: 18px; line-height: 22px; }

.field-error {
	display: none;
	color: #cc3300;
	font-size: 12px;
	line-height: 14px;
}
.input-error {
	border:2px solid #cc3300;
}

