/**** STRUCTURE ****/
body {
	background: #f5fafc;
	color: #666;
}
#restOfPageWrap {
	margin: 125px auto 0 auto;
	width: 650px;
}

#dash-list {
	width: 525px;
	margin: 20px auto;
	padding: 30px;
	background: #ffffee;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dash-list-title {
	float: left;
	width: 145px;
	font-weight: bold;
	color: #333;
	font-size: 16px;
}
.dash-list-text {
	float: right;
	width: 355px;
	padding-left: 20px;
	border-left: 1px dotted #E3C27C;
	font-size: 14px;
	line-height: 18px;
}

.dash-list-text input[type=text] {
	padding: 5px;
	width: 100%;
	font-size: 14px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

a#event-link {
	display: block;
	width: 420px;
	border-radius: 5px;
	margin: 0 auto;
	padding: 20px 0 17px 0;
	text-align: center;
	font-size: 28px;
	line-height: 30px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #333;
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
	background-image: -webkit-gradient(
		linear, left top, left bottom, from(rgba(80,80,80,0.1)),
		to(rgba(80,80,80,0.5))
	);
}
a#event-link:link, a#event-link:visited {
	color: #fff;
	background-color: #669900;
	border: 1px solid #5b8801;
	text-decoration: none;
	font-weight: normal;
}
a#event-link:hover {
	background-color: #006699;
	border: 1px solid #015c89;
}



/**** TEXT ****/

h1 {
	color: #999;
	font-size:22px;
	line-height: 24px;
	text-align: center;
}
h2 {
	color: #333;
	font-size: 40px;
	line-height: 26px;
	padding: 20px 0;
	text-align: center;
}

h3 {
	color: #333;
	font-size:26px;
	line-height: 30px;
	margin: 0 0 20px 0;
	text-align: center;
}


h4 {
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 15px;
}
#dash-list h4 { 
	font-size: 16px; 
	line-height: 20px; 
	font-weight: normal; 
	text-align: center;
	color: #999;
	}

h5 {
	color: #9ab6c3;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 5px;
}

p {
	color: #333;
	font-size: 13px;
	line-height: 18px;
}

hr {
	border: none;
	border-bottom: 1px dotted #E3C27C;
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	height: 1px;
}

ul {
	margin: 40px 0;
	list-style: none;
}
li {
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #E3C27C;
}
li:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
	color: #006699;
	font-weight: bold;
}
a:hover {
	color: #669900;
}

a.button {
	display: inline-block;
	margin: 10px 0 0 0;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #fff;
}
a.button:link, a.button:visited {
	color: #669900;
	border-bottom: 1px dotted #669900;
	text-decoration: none;
}
a.button:hover {
	color: #006699;
	border-bottom: 1px dotted #006699;
}

/**** OVERLAYS ****/

ul.overlay-tabs {
	margin: 10px 0 0 0;
	padding: 0;
}
ul.overlay-tabs li {
	display: inline;
	margin: 0 1px 0 0;
	padding: 10px 15px 5px 15px;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: none;
	background: #f4f4f4;
	color: #999;
	font-weight: bold;
}
ul.overlay-tabs li.active {
	border-color: #333;
	background: #333;
	color: #fff;
}

.tab-content {
	margin-top: 3px;
	padding: 10px;
	border-top: 1px solid #333;
}

#add-guests-wrap p {
	margin: 10px 0;
}

a#guest-upload:link, a#guest-manual:link, a#guest-upload:visited, a#guest-manual:visited {
	display: inline-block;
	width: 170px;
	border: 1px solid #ccc;
	color: #666;
	border-radius: 5px;
	padding:60px 10px 10px 10px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0;
	text-decoration: none;
}
a#guest-upload:link, a#guest-upload:visited { 
	float: left; 
	margin-left: 10px;
	background: #e1e1e1 url('/assets/img/icons/upload-file.png') no-repeat center top;
	}
a#guest-manual:link, a#guest-manual:visited { 
	float: right;
	margin-right: 10px;
	background: #e1e1e1 url('/assets/img/icons/copy-paste.png') no-repeat center top;
	}

a#guest-upload:hover, a#guest-manual:hover {
	border: 1px solid #00ccff;
	background-color: #d0e8ee;
}

#uploadArea {
	display: block;
	border: 2px solid #c3d7ec;
	background: #f4f4f4;
	border-radius: 3px;
	padding: 50px 30px;
	margin: 10px 0 20px 0;
	text-align: center;
	-moz-box-shadow: 0 4px 2px -2px #666;
	-webkit-box-shadow: 0 4px 2px -2px #666;
	box-shadow: inset 1px 1px 6px -2px #000;
}

a#upload-done {
	display: block;
	width: 75px;
	border-radius: 5px;
	margin: 0 auto;
	padding: 10px 0 7px 0;
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #333;
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
	background-image: -webkit-gradient(
		linear, left top, left bottom, from(rgba(80,80,80,0.1)),
		to(rgba(80,80,80,0.5))
	);
}
a#upload-done:link, a#upload-done:visited {
	color: #fff;
	background-color: #669900;
	border: 1px solid #5b8801;
	text-decoration: none;
	font-weight: normal;
}
a#upload-done:hover {
	background-color: #006699;
	border: 1px solid #015c89;
}

#slideshow-text {
	font-size: 14px;
	line-height: 20px;
	padding: 20px 0 10px 0;
}

/*
#event-guest-list-manual textarea {
	width: 420px;
	height: 100px;
	resize: none;
	border: 1px solid #999;
	padding: 10px;
	margin: 10px 0;
	background: #fff url('/assets/img/textbox-inner-shadow.png') no-repeat;
	font-size: 14px;
	line-height: 18px;
}
*/

#notify-guests {
	display: none;
}