/**** STRUCTURE ****/
body {
	background: #f5fafc;
	color: #666;
}
#restOfPageWrap {
	margin: 125px auto 0 auto;
	width: 650px;
}


#dash-list {
	width: 525px;
	margin: 20px auto;
	padding: 30px;
	background: #ffffee;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

ul#dash-tabs {
	padding: 0;
	margin: 0;
}
ul#dash-tabs:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}
ul#dash-tabs li {
	float: left;
	display: inline;
}
ul#dash-tabs li:first-child { margin-left: 10px; }
ul#dash-tabs a {
	display: block;
	padding: 10px 10px 8px 10px;
	margin-right: 2px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background: #f4f4f4;
	text-decoration: none;
	color: #006699;
	font-weight: bold;
	background: -webkit-gradient(
		linear, left top, left bottom, from(rgba(225,225,225,1)),
		to(rgba(244,244,244,1))
	);
}
ul#dash-tabs a.active { 
	border-bottom: 1px solid #fff;
	background: #fff;
}
ul#dash-tabs a:link, ul#dash-tabs a:visited {
	color: #666;
}
ul#dash-tabs a:hover {
	color: #669900;
}
ul#dash-tabs a.active:link, ul#dash-tabs a.active:visited {
	color: #006699;
}
ul#dash-tabs a.active:hover {
	color: #006699;
}

.dash-tabs-content {
	display: none;
	border-top: 1px solid #ccc;
	padding: 20px;
	margin-top: -1px;
	margin-bottom: 30px;
	color: #666;
	background: #fff;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-radius: 5px;
}

.dash-tabs-content input[type=text] {
	padding: 5px;
	width: 100%;
	font-size: 14px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
	background: #ffffee;
}


a#event-link {
	display: block;
	width: 420px;
	border-radius: 5px;
	margin: 0 auto;
	padding: 20px 0 17px 0;
	text-align: center;
	font-size: 28px;
	line-height: 30px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #333;
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
	background-image: -webkit-gradient(
		linear, left top, left bottom, from(rgba(80,80,80,0.1)),
		to(rgba(80,80,80,0.5))
	);
}
a#event-link:link, a#event-link:visited {
	color: #fff;
	background-color: #669900;
	border: 1px solid #5b8801;
	text-decoration: none;
	font-weight: normal;
}
a#event-link:hover {
	background-color: #006699;
	border: 1px solid #015c89;
}



/**** TEXT ****/

h1 {
	color: #999;
	font-size:22px;
	line-height: 24px;
	text-align: center;
}
h2 {
	color: #333;
	font-size: 40px;
	line-height: 26px;
	padding: 20px 0;
	text-align: center;
}

h3 {
	color: #333;
	font-size:26px;
	line-height: 30px;
	margin: 0 0 20px 0;
	text-align: center;
}


h4 {
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 15px;
}
#dash-list h4 { 
	font-size: 16px; 
	line-height: 20px; 
	font-weight: normal; 
	text-align: center;
	color: #999;
	}

h5 {
	color: #24abe2;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 5px;
}
h5 img { vertical-align: top; margin-left: 5px; }

p {
	color: #666;
	font-size: 13px;
	line-height: 18px;
}

hr {
	border: none;
	border-bottom: 1px dotted #E3C27C;
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	height: 1px;
}

.dash-tabs-content a:link, .dash-tabs-content a:visited {
	color: #006699;
	font-weight: bold;
}
.dash-tabs-content a:hover {
	color: #669900;
}
a.button {
	display: inline-block;
	margin: 10px 0 0 0;
	padding: 3px 10px 2px 10px;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #666;
	border-radius: 3px;
	background-image: -webkit-gradient(
		linear, left top, left bottom, from(rgba(80,80,80,0.1)),
		to(rgba(80,80,80,0.5))
	);
}
a.button:link, a.button:visited {
	color: #fff;
	background-color: #669900;
	text-decoration: none;
}
a.button:hover {
	color: #fff;
	background-color: #006699;
}

/**** OVERLAYS ****/

ul.overlay-tabs {
	margin: 10px 0 0 0;
	padding: 0;
}
ul.overlay-tabs li {
	display: inline;
	margin: 0;
	padding: 10px 15px 5px 15px;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: none;
	background: #f4f4f4;
	color: #999;
	font-weight: bold;
}
ul.overlay-tabs li.fifty {
	display: inline-block;
	width: 175px;
	margin-bottom: -3px;
}
ul.overlay-tabs li.hundred {
	display: block;
	width: 380px;
	margin-bottom: -3px;
}
ul.overlay-tabs li.active {
	border-color: #333;
	background: #333;
	color: #fff;
}

.tab-content {
	margin-top: 3px;
	padding: 10px;
	border-top: 1px solid #333;
	font-size: 13px;
	line-height: 18px;
}
.tab-content a:link, .tab-content a:visited {
	color: #006699;
    font-weight: bold;
}
.tab-content a:hover {
	color: #669900;
}


#add-guests-wrap p {
	margin: 10px 0;
}

a#guest-link-upload:link, a#guest-link-manual:link, a#guest-link-upload:visited, a#guest-link-manual:visited {
	display: inline-block;
	width: 170px;
	border: 1px solid #ccc;
	color: #666;
	border-radius: 5px;
	padding:60px 10px 10px 10px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0;
	text-decoration: none;
}
a#guest-link-upload:link, a#guest-link-upload:visited { 
	float: left; 
	margin-left: 10px;
	background: #e1e1e1 url('/assets/img/icons/upload-file.png') no-repeat center top;
	}
a#guest-link-manual:link, a#guest-link-manual:visited { 
	float: right;
	margin-right: 10px;
	background: #e1e1e1 url('/assets/img/icons/copy-paste.png') no-repeat center top;
	}

a#guest-link-upload:hover, a#guest-link-manual:hover {
	border: 1px solid #00ccff;
	background-color: #d0e8ee;
}

.guests-hide { 
	display: none; 
	background: #ffffee;
	border: 1px solid #E3C27C;
	padding: 10px;
	border-radius: 5px;
	}
	
#guests-file-uploader {
	padding: 5px;
	background: #f6dca6;
	border-radius: 3px;
}	

#guests-file-how-to-csv {
	display: none;
	border-top: 1px solid #E3C27C;
	padding-top: 10px;
	margin-top: 20px;
}

.guests-back-to-choices {
	display: block;
	width: 50px;
	margin: 0 auto 5px auto;
}

#guests-manual textarea {
	width: 420px;
	height: 100px;
	resize: none;
	border: 1px solid #999;
	padding: 10px;
	margin: 10px 0;
	background: #fff url('/assets/img/textbox-inner-shadow.png') no-repeat;
	font-size: 14px;
	line-height: 18px;
}

a.buttonBox {
	display: block;
	width: 50px;
	margin: 0 auto 0 auto;
	padding: 5px 10px 3px 10px;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #666;
	border-radius: 3px;
	box-shadow: 0 3px 1px -2px #ccc;
	background-image: -webkit-gradient(
		linear, left top, left bottom, from(rgba(80,80,80,0.1)),
		to(rgba(80,80,80,0.5))
	);
}
a.buttonBox:link, a.buttonBox:visited {
	color: #fff;
	background-color: #669900;
	border-bottom: 1px dotted #669900;
	text-decoration: none;
}
a.buttonBox:hover {
	background-color: #006699;
	border-bottom: 1px dotted #006699;
}

#guests-upload-csv {
	float: right;
}

#notify-guests {
	display: none;
}

#notify-guests textarea {
	width: 420px;
	height: 100px;
	resize: none;
	border: 1px solid #999;
	padding: 10px;
	margin: 10px 0;
	background: #fff url('/assets/img/textbox-inner-shadow.png') no-repeat;
	font-size: 14px;
	line-height: 18px;
}