/**** STRUCTURE ****/
body {
	position: relative;
	background: #f5fafc;
	color: #666;
}
#restOfPageWrap {
	margin: 96px auto 0 auto;
	width: 900px;
}

/**** EVENT TITLE AREA ****/

#event-top {
	margin-bottom: 25px;
	margin-left: 8px;
}
#event-top h1,
#event-top h2,
#event-top h3,
#event-top h4,
#event-top h5,
#event-top h6 {
	margin: 0;
}


#event-pin {
	float: right;
	display: inline;
	width: 100px;
	margin-top: 30px;
	padding: 10px 10px 5px 10px;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	background: #006699;
	border-radius: 10px;
}
#event-pin div {
	font-size: 30px;
	line-height: 32px;
	}


#setup-wrap {
	width: 790px;
	margin: 100px auto 20px auto;
	background: #fff;
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 10px;
}

#event-top:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

/** Event Cover **/
#event-cover-wrap {
	float: left;
	display: inline-block;
	width: 110px;
	height: 110px;
	padding: 4px;
	margin: 27px 10px 0 0;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 1px 1px 2px 1px #ccc;
}
#event-cover-image {
	border: none;
	overflow: hidden;
}

#event-title-wrap {
	float: left;
	display: inline;
	width: 640px;
	padding-top: 25px;
}

/** Event Social **/
#event-title-wrap ul#event-social,
ul#event-social  {
	margin: 10px 0;
	list-style: none;
	line-height: 14px;
	color: #999;
}
#event-social li {
	display: inline;
	position: relative;
	padding: 0;
}

/** Event Navigation **/
#event-nav span {
	padding-bottom: 5px;
	background: transparent url('/assets/img/down-arrow.png') no-repeat center bottom;
}

ul#event-nav  {
	list-style: none;
	line-height: 14px;
	color: #999;
}
#event-nav li {
	display: inline;
	position: relative;
	padding: 0 5px;
	border-right: 1px dotted #ccc;
}
#event-nav li:first-child {
	padding-left: 0;
}
#event-nav li:last-child {
	padding-right: 0;
	border-right: none;
}
#event-nav a:link, #event-nav a:visited {
	color: #336699;
	text-decoration: none;
}
#event-nav a:hover {
	color: #cc3300;
	text-decoration: underline;
}

.event-nav-menu {
	display: none;
	position:absolute;
	width:220px;
	z-index:100;
	text-align:left;
	padding:10px;
	top: 20px; 
	left: 0px;
	background: #ddeef6;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
}
#event-nav-menu-share {
	width: 135px;
}
#event-nav-menu-privacy ul {
	float:left;
	width: 110px;
	margin-top: 10px;
	list-style: none;
}
#event-nav-menu-privacy li {
	float: none;
	display: block;
	padding: 0;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 16px;
	border-right: none;
}

/* event title editing */
#event-title-wrap > * {
	padding-left: 16px;
}

#event-title-wrap ul {
	margin: 0;
}

#event-title.edit {
	cursor: pointer;
	background: url('/assets/img/icons/pen_alt_fill_12x12-lgt_grey.png') no-repeat center left;
}
#event-title.edit:hover {
	text-decoration: underline;
	background: url('/assets/img/icons/pen_alt_fill_12x12-blue.png') no-repeat center left;
}

#event-title input {
	font-size: inherit;
	color: inherit;
}

#event-title-wrap textarea {
	margin-top: 10px;
	width: 640px;
	height: 65px;
	padding: 10px;
	font-size: 16px;
	line-height: 20px;
	border: 1px solid #ccc;
	color: #999;
	-moz-box-shadow: 0 4px 2px -2px #666;
	-webkit-box-shadow: 0 4px 2px -2px #666;
	box-shadow: inset 1px 1px 6px -2px #000;
	resize: none;
}

/** Event Settings **/
#event-settings {
	display: none;
	width: 375px;
	position: absolute;
	top: 25px;
	padding: 20px;
	color: #999;
	background: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	z-index: 100;
}
#event-settings h3 {
	padding-bottom: 10px;
	margin: 0 0 10px 0;
	font-weight: 600;
	color: #000;
	border-bottom: 1px solid #ccc;
}
#event-settings span.status {
	margin-left: 4px;
	width: 16px;
	display: inline-block;
}
#event-settings #map_canvas-wrap {
	padding: 10px 0;
}

#event-settings label {
	font-size: 14px;
	line-height: 14px;
	color: #333;
}

#event-settings input[type=text] {
	width: 330px;
	padding: 7px 10px;
	border: 1px solid #f4f4f4;
	border-radius: 3px;
	font-size: 16px;
	line-height: 18px;
	-webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .3);
	box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .3);
}
#event-settings select {
	width: 72px;
}
#event-settings .status.bad {
	background: url('/assets/img/x_alt_16x16.png') no-repeat right bottom;
}
#event-settings .status.good {
	background: url('/assets/img/check_alt_16x16.png') no-repeat right bottom;
}
#event-settings .status.spinner-16px {
	background: url('/assets/img/spinner_blue_sm.gif') no-repeat right bottom;
}

#event-settings .small-field {
	width: 375px;
	padding: 5px 0;
}
#event-settings .small-field:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

#event-settings .small-field label {
	display: block;
}
#event-settings .small-field-inner {
	float: left;
	margin-right: 5px;
}
#event-settings .small-field-inner input[type=text] {
	width: 85px;
	display: block;
}

#event-settings .small-field-inner-wide select {
	display: inline-block;
}

div.time-picker {
	z-index: 100;
}

/** Misc **/
.noPhotos {
	position: relative;
	background-image:url(/assets/img/firstrun-overlay.jpg);
	width:900px;
	height:728px;
}

#eventFirstRun {
	position: absolute;
	z-index: 2;
}
#eventFirstRunText {
	list-style: none;
}
#eventFirstRunText li {
		display: none;
}
#eventFirstRunText li.displayMe {
	display: block;
	width: 720px;
	height: 200px;
	padding: 125px 90px 40px 90px;
	text-align: center;
}
#eventFirstRun h1 {
	font-size: 42px;
	line-height: 48px;
	color: #333;
	font-weight: bold;
}
#eventFirstRun h2 {
	font-size: 42px;
	line-height: 48px;
	color: #3399cc;
	font-weight: bold;
}
#eventFirstRun h3 {
	font-size: 22px;
	line-height: 28px;
	color: #999;
	font-weight: normal;
}
#eventFirstRunDots {
	list-style: none;
	width: /*150px;*/ 60px;
	margin: 0 auto;
}
#eventFirstRunDots a {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 5px;
	overflow: hidden;
	background: transparent url('/assets/img/dotGrey.png') no-repeat;
	text-indent: -8000px;
}
#eventFirstRunDots a.blue {
	background-image: url('/assets/img/dotBlue.png');
}
#guestsText {
	background: transparent url('/assets/img/firstrun/arrowGuests-2.png') no-repeat 55px 30px;
}
#shareText {
	background: transparent url('/assets/img/firstrun/arrowShare.png') no-repeat 20px 5px;
}
#privacyText {
	background: transparent url('/assets/img/firstrun/arrowPrivacy.png') no-repeat 20px 5px;
}
#slideshowText {
	background: transparent url('/assets/img/firstrun/arrowSlideshow.png') no-repeat 100px 10px;
}
#uploadText {
	background: transparent url('/assets/img/firstrun/arrowUpload.png') no-repeat 45px 10px;
}

.loadMoreWrap:before {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

a.loadMore:link, a.loadMore:visited {
	display: block;
	margin: 10px auto;
	width: 146px;
	height: 40px;
	text-indent: -8000px;
	background: transparent url('/assets/img/btnLoadMore.png') no-repeat;
}
a.loadMore:hover {
	opacity: 0.8;
}

.photo {
	float: left;
	display: inline;
	padding: 5px;
	margin: 0 7px 15px 8px;
	width: 200px;
	min-height: 200px;
	background: #fff;
	-moz-box-shadow: 1px 1px 2px 1px #ccc;
	-webkit-box-shadow:1px 1px 2px 1px #ccc;
	box-shadow:1px 1px 2px 1px #ccc;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	color: #999;
}
.photoHidden { display: none; }

.photo img {
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin-bottom: 5px;
}
.photo img.photo-comment {
	width: 9px;
	height: 7px;
	overflow: hidden;
	vertical-align: middle;
}
.photo-overlay {
	display: none;
	position: absolute;
	z-index: 2;
	width: 200px;
	height: 200px;
	color: #fff;
	background: transparent url('/assets/img/black-60per.png');
	text-align: center;
}
ul.photo-share {
	position: absolute;
	top: 10px;
	width: 200px;
	text-align: center;
	list-style: none
}
ul.photo-share:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}
ul.photo-share li {
	display: inline-block;
}

#event-nav-menu-share .share {
	margin: 5px auto;
}
a.photo-share-twitter, a.photo-share-facebook, a.photo-share-pinterest, a.photo-share-email {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	text-indent: -8000px;
	overflow: hidden;
}
a.photo-share-twitter {
	background: transparent url('/assets/img/icons/16px/twitter-2.png') no-repeat;
}
a.photo-share-facebook {
	background: transparent url('/assets/img/icons/16px/facebook.png') no-repeat;
}
a.photo-share-pinterest {
	background: transparent url('/assets/img/icons/16px/pinterest.png') no-repeat;
}
a.photo-share-email {
	background: transparent url('/assets/img/icons/16px/email.png') no-repeat;
}
#details a.photo-share-twitter, 
#details a.photo-share-facebook, 
#details a.photo-share-pinterest, 
#details a.photo-share-email {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 5px;
	text-indent: -8000px;
	overflow: hidden;
}
#details a.photo-share-twitter {
	background: transparent url('/assets/img/icons/24px/twitter-2.png') no-repeat;
}
#details a.photo-share-facebook {
	background: transparent url('/assets/img/icons/24px/facebook.png') no-repeat;
}
#details a.photo-share-pinterest {
	background: transparent url('/assets/img/icons/24px/pinterest.png') no-repeat;
}
#details a.photo-share-email {
	background: transparent url('/assets/img/icons/24px/email.png') no-repeat;
}

.photo-overlay h3 {
	position: absolute;
	top: 60px;
	width: 100%;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	text-align: center;
	font-weight: normal;
}

.photo-buttons {
	position: absolute;
	top: 65px;
	width: 200px;
	text-align: center;
}
a.button:link, a.button:visited {
	display: block;
	width: 120px;
	margin: 0 auto;
	padding: 7px 5px 5px 5px;
	text-align: center;
	font-size: 14px;
	line-height: 14px;
	color: #fff;
	text-decoration: none;
	border-radius: 8px;
	-moz-box-shadow: 1px 1px 2px 1px #333;
	-webkit-box-shadow:1px 1px 2px 1px #333;
	box-shadow:1px 1px 2px 1px #333;
}
a.button:hover {
	background: #fff;
	border-color: #e1e1e1;
	color: #66ccff;
}

div#photo-action-container {
	margin: 0 auto;
}

ul#photo-action {
	display: block;
	position: absolute;
	bottom: 0px;
	margin: 0;
}

ul#photo-action li {
	list-style: none;
	float: left;
	padding: 0 0 0 5px;
}

ul#photo-action li a {
	display: block;
	width: 25px;
	padding: 7px 5px 2px 5px;
	overflow: hidden;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-indent: -8000px;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
}

ul#photo-action li a.photo-delete:link, ul#photo-action li a.photo-delete:visited {
	width: 12px;
	height: 12px;
	position: relative;
	bottom: -8px;
	border-top: 2px solid #880000;
	border-right: 2px solid #880000;
	border-left: 2px solid #880000;
	background: #ff1e00 url('/assets/img/icons/white/x_alt_12x12.png') no-repeat 5px 5px;
	-moz-box-shadow:    inset  0  0 0 -8px #dd1a00, 
                        inset  0 -8px 8px -8px #dd1a00;
    -webkit-box-shadow: inset  0  0 0 -8px #dd1a00, 
                        inset  0 -8px 8px -8px #dd1a00;
     box-shadow:        inset  0  0 0 -8px #dd1a00, 
                        inset  0 -8px 8px -8px #dd1a00;
}
ul#photo-action li a.photo-delete:hover {
	border-color: #e1e1e1;
	background: #fff url('/assets/img/icons/red/x_alt_12x12.png') no-repeat 5px 5px;
}

a.photo-enlarge:link, a.photo-enlarge:visited {
	border-top: 2px solid #4388aa;
	border-right: 2px solid #4388aa;
	border-left: 2px solid #4388aa;
	background: #66ccff url('/assets/img/icons/magnifier_16x16.png') no-repeat 10px 7px;
	-moz-box-shadow:    inset  0  0 0 -8px #336699, 
                        inset  0 -8px 8px -8px #336699;
    -webkit-box-shadow: inset  0  0 0 -8px #336699, 
                        inset  0 -8px 8px -8px #336699;
     box-shadow:        inset  0  0 0 -8px #336699, 
                        inset  0 -8px 8px -8px #336699;
}
a.photo-enlarge:hover {
	border-color: #e1e1e1;
	background: #fff url('/assets/img/icons/magnifying_glass_16x16-blue.png') no-repeat 10px 7px;
}

ul#photo-action li a.photo-download:link, ul#photo-action li a.photo-download:visited {
	width: 12px;
	height: 12px;
	position: relative;
	bottom: -8px;
	border-top: 2px solid #999;
	border-right: 2px solid #999;
	border-left: 2px solid #999;
	background: #ccc url('/assets/img/icons/download_12x12.png') no-repeat 5px 5px;
	-moz-box-shadow:    inset  0  0 0 -8px #666, 
                        inset  0 -8px 8px -8px #666;
    -webkit-box-shadow: inset  0  0 0 -8px #666, 
                        inset  0 -8px 8px -8px #666;
     box-shadow:        inset  0  0 0 -8px #666, 
                        inset  0 -8px 8px -8px #666;
}
ul#photo-action li a.photo-download:hover {
	border-color: #666;
	background-color: #999;
}

#uploadArea {
	display: none;
	border: 2px solid #c3d7ec;
	background: #fff;
	border-radius: 3px;
	padding: 20px;
	margin: 10px 10px 20px 10px;
	text-align: center;
	-moz-box-shadow: 0 4px 2px -2px #666;
	-webkit-box-shadow: 0 4px 2px -2px #666;
	box-shadow: inset 1px 1px 6px -2px #000;
}
.files { 
/*
	background-color: #fff;
	border: 1px solid #c3d7ec;
	border-radius: 5px;
	padding: 10px 5px; 
*/
	font-weight: bold;
	text-align: center;
	margin: 0 10px 20px 10px; 
	}
.filesSmText {
	margin: 5px 0;
	font-size: 14px;
	color: #999;
	font-style: italic;
}
.progress { 
	width: 0%; 
	background-color:#67ac1c; 
	background: -webkit-gradient(linear, left top, left bottom, from(#67ac1c), to(#80c337)); /* for webkit browsers */
	height:10px; 
	margin-top:5px; 
	border-radius: 5px;
	}
.mf_upload_ins {
	border-radius: 3px;
}
.uploadText { padding-top: 30px; }

/*** CSS LOAD BAR ****/

.bar {
	height:20px;
	width:200px;
	padding:10px;
	margin: 10px auto 0 auto;
	background-color:rgba(0,0,0,.1);
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-ms-border-radius:25px;
	border-radius:20px;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
	-ms-box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
	box-shadow:0 1px 0 rgba(255,255,255,.03),inset 0 1px 0 rgba(0,0,0,.1);
}

/* 
This is the actual bar
*/	
.bar span {
	display:inline-block;
	height:100%;
	width:100%;
	border:1px solid #336699;
	/*border-bottom-color:#ff6201;*/
	background-color:#f6f6f6;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	background-image:
		-webkit-linear-gradient(
		-45deg,
		rgba(51, 102, 153, 1) 25%,
		transparent 25%,
		transparent 50%,
		rgba(51, 102, 153, 1) 50%,
		rgba(51, 102, 153, 1) 75%,
		transparent 75%,
		transparent
	);
	background-image:
		-moz-linear-gradient(
		-45deg,
		rgba(51, 102, 153, 1) 25%,
		transparent 25%,
		transparent 50%,
		rgba(51, 102, 153, 1) 50%,
		rgba(51, 102, 153, 1) 75%,
		transparent 75%,
		transparent
	);
	background-image:
		-ms-linear-gradient(
		-45deg,
		rgba(51, 102, 153, 1) 25%,
		transparent 25%,
		transparent 50%,
		rgba(51, 102, 153, 1) 50%,
		rgba(51, 102, 153, 1) 75%,
		transparent 75%,
		transparent
	);
	background-image:
		linear-gradient(
		-45deg,
		rgba(51, 102, 153, 1) 25%,
		transparent 25%,
		transparent 50%,
		rgba(51, 102, 153, 1) 50%,
		rgba(51, 102, 153, 1) 75%,
		transparent 75%,
		transparent
	);
	-webkit-background-size:50px 50px;
	-moz-background-size:50px 50px;
	-ms-background-size:50px 50px;
	background-size:50px 50px;
	-webkit-animation:move 2s linear infinite;
	-moz-animation:move 2s linear infinite;
	-ms-animation:move 2s linear infinite;
	animation:move 2s linear infinite;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	overflow: hidden;
	-webkit-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
	-moz-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
	-ms-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
	box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
}
		
.bar > span:after {
	display: none;
}

/*
Animate the stripes
*/	
@-webkit-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}	
@-moz-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}	
@-ms-keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}	
@keyframes move{
  0% {
  	background-position: 0 0;
  }
  100% {
  	background-position: 50px 50px;
  }
}

/**** END CSS LOAD BAR ****/

/********/

.divider {
	height: 20px;
	border-bottom: 1px dotted #c3d7ec;
	margin: 0 0 20px 0;
	visibility:visible;
}

/*** TEXT ****/

h1 {
	font-size: 14px;
	line-height: 14px;
	color: #666;
	font-weight: normal;
}
h1#event-timestamp-start {
	margin-bottom: 10px;
}
#setup-wrap #event-top h2 {
	padding-top: 20px;
}
h2 {
	font-size: 26px;
	line-height: 30px;
	color: #3399cc;
	font-weight: normal;
}
h3 {
	font-size: 18px;
	line-height: 20px;
	color: #3399cc;
	margin-bottom: 40px;
}

/* MUSTACHE BOXES */
.mustache-box {
	display: none;
	background: #fff;
	border-radius: 5px;
	margin: 10px;
	padding: 30px;
	border: 1px solid #e1e1e1;
}
.mustache-box .section {
	padding: 5px 0;
}

.mustache-box .section ul.connect {
	list-style: none;
}
.mustache-box .section ul.connect li {
	display: block;
	float: left;
	margin-right: 10px;
}
.mustache-box a:link,
.mustache-box a:visited {
	color: #006699;
}
.mustache-box a:hover {
	color: #669900;
}
.mustache-box .section ul.connect li a:link,
.mustache-box .section ul.connect li a:visited {
	padding-left: 20px;
	color: #6699cc;
    text-decoration: none;
}
.mustache-box .section ul.connect li a:hover {
    color: #336699;
}
.mustache-box .section ul.connect li a.email {
	background: transparent url('/assets/img/icons/16px/email.png') no-repeat left top;
}
.mustache-box .section ul.connect li a.facebook {
	background: transparent url('/assets/img/icons/16px/facebook.png') no-repeat left top;
}
.mustache-box .section ul.connect li a.pinterest {
	background: transparent url('/assets/img/icons/16px/pinterest.png') no-repeat left top;
}
.mustache-box .section ul.connect li a.twitter {
	background: transparent url('/assets/img/icons/16px/twitter-2.png') no-repeat left top;
}

/**** GUEST & SLIDESHOW UPLOAD AREA ****/
#notifyBox, #guestlistBox, #tablecardBox {
	display: none;
	overflow-x: hidden;
}

ul.tabs {
	margin: 20px 0 0 0;
	padding: 0;
}
ul.tabs li {
	display: inline;
	margin: 0 2px 0 0;
	padding: 10px 15px 5px 15px;
	border-top: 1px solid #b6d7e4;
	border-left: 1px solid #b6d7e4;
	border-right: 1px solid #b6d7e4;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #f5fafc;
	color: #b6d7e4;
	font-weight: bold;
}
ul.tabs li.fifty {
	display: inline-block;
	width: 175px;
	margin-bottom: -3px;
}
ul.tabs li.hundred {
	display: block;
	width: 380px;
	margin-bottom: -3px;
}
ul.tabs li.active {
	border-color: #3399cc;
	background: #3399cc;
	color: #fff;
}

ul.tabs li a:link, ul.tabs li a:visited {
	color: #b6d7e4;
	text-decoration: none;
}
ul.tabs li a:hover {
	color: #3399cc;
}
ul.tabs li.active a { color: #fff; }

.tab-content {
	margin-top: 3px;
	padding: 20px 0;
	border-top: 1px solid #3399cc;
	font-size: 14px;
	line-height: 18px;
}
.tab-content a:link, .tab-content a:visited {
	color: #006699;
    font-weight: bold;
}
.tab-content a:hover {
	color: #669900;
}
/*
#guests-choices {
	margin: 20px auto 0 auto;
	width: 420px;	
}
*/
#add-guests-wrap p {
	margin: 10px 0;
}

a#guest-link-upload:link, a#guest-link-manual:link, a#guest-link-upload:visited, a#guest-link-manual:visited {
	display: inline-block;
	width: 170px;
	border: 1px solid #ccc;
	color: #666;
	border-radius: 5px;
	padding:60px 10px 10px 10px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0;
	text-decoration: none;
}
a#guest-link-upload:link, a#guest-link-upload:visited { 
	float: left; 
	margin-left: 10px;
	background: #e1e1e1 url('/assets/img/icons/upload-file.png') no-repeat center top;
	}
a#guest-link-manual:link, a#guest-link-manual:visited { 
	float: right;
	margin-right: 10px;
	background: #e1e1e1 url('/assets/img/icons/copy-paste.png') no-repeat center top;
	}

a#guest-link-upload:hover, a#guest-link-manual:hover {
	border: 1px solid #00ccff;
	background-color: #d0e8ee;
}

.guests-options-wrap { 
	background: #ffffee;
	border: 1px solid #E3C27C;
	border-radius: 5px;
	padding: 10px;
	margin: 20px auto 0 auto;
	width: 420px;
	}
.guests-options-wrap p {
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 10px 0;
}
	
#guests-file-uploader {
	margin: 0 0 10px 0;
	padding: 5px;
	background: #f6dca6;
	border-radius: 3px;
}	

#guests-file-how-to-csv {
	display: none;
	border-top: 1px solid #E3C27C;
	padding-top: 10px;
	margin-top: 20px;
}

.guests-back-to-choices {
	display: block;
	width: 50px;
	margin: 0 auto 5px auto;
}

.choiceBox, #notify-wrap {
	margin: 20px auto;
}
.choiceBox {
	width: 420px;
}
.csvParse {
	width: 100%;
	margin: 20px 0;
	border: none;
	background: none;
}
#csvRow1, #csvRow2, #csvRow3 {
	float: left;
	display: inline;
	background: #ffffee;
	border: 1px solid #E3C27C;
	border-radius: 5px;
	padding: 20px 10px 10px 10px;
	margin-right: 20px;
	width: 220px;
	text-align: center;
}
#csvRow1 ul, #csvRow2 ul, #csvRow3 ul {
	list-style: none;
	margin: 20px 0;
	padding-top: 10px;
	border-top: 1px solid #E3C27C;
	font-size: 14px;
	line-height: 14px;
	color: #333;
}
#csvRow1 li, #csvRow2 li, #csvRow3 li {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #E3C27C;
}
#guest-choices h3 { font-weight: normal; margin-bottom: 20px; }
#guest-choices h3 strong { color: #3399cc; }

#csvAllDone {
	display: block;
	margin: 20px auto;
	text-indent: -8000px;
	background: transparent url('/assets/img/all_done.png') no-repeat;
	width: 273px;
	height: 75px;
}
#allDoneWrap img {
	display: block;
	margin: 63px auto 20px auto;
	width: 32px;
	height: 32px;
}

#guest-choices textarea {
	width: 395px;
	height: 100px;
	resize: none;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 10px;
	margin: 10px 0;
	background: #fff url('/assets/img/textbox-inner-shadow.png') no-repeat;
	font-size: 14px;
	line-height: 18px;
}

#guests-upload-csv {
	float: right;
}

#notify-guests {
	display: none;
}

#notify-group {
	float: left;
	display: inline;
	width: 160px;
	padding: 20px 0;
}
#notify-group p {
	margin-bottom: 10px;
}
#notify-message {
	float: left;
	display: inline;
	width: 640px;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #ccc;
	background: #eeeeee;
	margin-top: 12px;
}

#notify-message textarea {
	display: block;
	width: 520px;
	height: 100px;
	resize: none;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 10px;
	margin: 10px auto;
	background: #fff url('/assets/img/textbox-inner-shadow.png') no-repeat;
	font-size: 14px;
	line-height: 18px;
	color: #999;
}

a.buttonBox:link, a.buttonBox:visited {
	display: block;
	color: #fff;
	background: #67ac1c;
	margin: 5px auto;
	padding: 10px 20px 9px 20px;
	border-radius: 10px;
	width: 100px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}
a.buttonBox:hover {
	background: #528a15;
}

#do-notify-wrap {
	margin: 5px 0;
	color: #999;
	font-size: 14px;
	line-height: 16px;
}

a#do-send-to-guests {
	display: block;
	width: 140px;
	color: #fff;
	background: #99cc33;
	border-radius: 20px;
	padding: 10px;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
}
a#do-send-to-guests:hover {
	background: #669900;
}

/**** GUEST LIST ****/

#guestlistBox ul {
	padding: 50px;
	list-style: none;
	font-size: 14px;
	line-height: 16px;
}
#guestlistBox li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}
#guestlistBox li:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

#guestlistBox a:link, #guestlistBox a:visited {
	color: #336699;
	text-decoration: none;
	font-weight: normal;
}
#guestlistBox a:hover {
	color: #cc3300;
	text-decoration: underline;
}

.guest-name {
	float: left;
	width: 206px;
	color: #222222;
}
.guest-email {
	float: left;
	width: 246px;
	margin: 0 10px;	
}
.guest-invited {
	float: left;
	width: 90px;
	margin: 0 20px;	
}
.guest-delete {
	display: inline-block;
	background: transparent url('/assets/img/x_alt_16x16.png') no-repeat;
	float: right;
	width: 16px;
	height: 16px;
	text-indent: 10000px;
}

#tablecards {
	font-size: 14px;
	line-height: 20px;
}
#tablecards:after  {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

#tablecards img {
	float: right;
	margin-left: 25px;
	height: 275px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

/*** PHOTO OVERLAY ****/

.photoOverlay {
	width: 820px;
	height: 525px;
	margin: 10px;
	padding: 15px;
	background: #f5fafc;	
	border-radius: 5px;
	border: 1px solid #bccfd6;
}

#photo {
	float: right;
	display: inline;
	padding: 14px;
	width: 494px;
	height: 501px;
	background: transparent url('/assets/img/bg-photo.png') no-repeat;
}
#details {
	float: left;
	display: inline;
	width: 225px;
	padding-left: 10px;
	margin-top: 25px;
	font-size: 14px;
	line-height: 26px;
	color: #999;
}
strong { color: #666; }
#details a:link, #details a:visited {
	color: #3399cc;
	font-size: 16px;
}
#details a:hover {
	color: #cc3300;
}
a#photo-download:link, a#photo-download:visited {
	color: #fff;
	font-size: 14px;
	padding: 5px 15px 3px 27px;
	background: #3399cc url('/assets/img/icons/download_8x8-wh.png') no-repeat 10px 7px;
	border-radius: 10px;
	text-decoration: none;
}
a#photo-download:hover {
	background-color: #cc3300;
}

a#back:link, a#back:visited {
	display: none;
	width: 75px;
	font-size: 20px;
	text-align: center;
	color: #fff;	
	background: #35789b;
	border-radius: 5px;
	text-decoration: none;
	padding: 5px 10px 2px 10px;
	margin-bottom: 25px;
}
a#back:hover {
	color: #fff;
	background: #cc3300;
	border-radius: 5px;
}

.photoOverlay h1 {
	font-size: 18px;
	line-height: 24px;
	color: #333;
	margin: 40px 0 20px 0;
	font-weight: normal;
	font-style: italic;
}
.photoOverlay h2 {
	font-size: 14px;
	line-height: 16px;
	color: #999;
	margin: 40px 0 10px 0;
	font-weight: normal;
}

a#twitter, a#facebook, a#email {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 5px;
	text-indent: -8000px;
	overflow: hidden;
}
a#twitter {
	background: transparent url('/assets/img/icons/32px/twitter-2.png') no-repeat;
}
a#facebook {
	background: transparent url('/assets/img/icons/32px/facebook.png') no-repeat;
}
a#email {
	background: transparent url('/assets/img/icons/32px/email.png') no-repeat;
}


.photo-cover {
	color: #666;
	background-color: #ffcc99;
}
.add-cover, .share {
	background: #66ccff;
	border: 2px solid #52b0df;
}
.photo-buttons .share {
	width: 65px;
}
.remove-cover {
	background: #ff3300;
	border: 2px solid #cc3300;
}

/**** CHECKOUT / CART STUFF ****/

.photoInCart {
	color: #666;
	background-color: #ffcc99;
}
.addto-prints {
	background: #66ccff;
	border: 2px solid #52b0df;
}
.removefrom-prints {
	background: #ff3300;
	border: 2px solid #cc3300;
}