#homeHeadWrap {
	position: fixed;
	z-index: 3;
	top: 0;
	width: 100%;
	height: 65px;
	background: #fff;
	border-bottom: 1px solid #999;
	/*
	-webkit-box-shadow: 0px 2px 5px rgba(102, 102, 102, 0.5);
	-moz-box-shadow: 0px 2px 5px rgba(102, 102, 102, 0.5);
	box-shadow: 0px 2px 5px rgba(102, 102, 102, 0.5);
	*/
}

#signedInBar {
	width: 100%;
	padding: 7px 5px 5px 5px;
	margin: 0;
	font-size: 12px;
	line-height: 16px;
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4)); /* for webkit browsers */
	border-bottom: 1px solid #e1e1e1;
}
#signedInText {
	width: 870px;
	margin: 0 auto;
	text-align: center;
}
#signedInText a:link, #signedInText a:visited {
	color: #336699;
	text-decoration: none;
}
#signedInText a:hover {
	color: #cc3300;
	text-decoration: underline;
}

#homeHead {
	width: 920px;
	margin: 0 auto;
}
#headLogo {
	display: inline-block;
	float: left;
	width: 281px;
	height: 76px;
	margin-top: 5px;
	background: transparent url('/assets/img/snapable-sm.png') no-repeat;
	text-indent: -8000px;
	overflow: hidden;
}
#centeredLogo {
	display: block;
	width: 281px;
	height: 76px;
	margin: 12px auto 0 auto;
	background: transparent url('/assets/img/snapable-lrg.png') no-repeat;
	text-indent: -8000px;
	overflow: hidden;
}
#headTagline {
	display: inline;
	float: left;
	margin-top: 47px;
	width: 300px;
	font-size: 16px;
	line-height: 18px;
	color: #ccc;
}
#headNav {
	display: inline;
	float: right;
	margin-left: 25px;
	margin-top: 40px;
	font-size: 18px;
	line-height: 24px;
	color: #ccc;
}
#headNav a:link, #headNav a:visited {
	display: block;
	color: #fff;	
	background: #35789b;
	border-radius: 5px;
	text-decoration: none;
	padding: 5px 10px 2px 10px;
}
#headNav a:hover {
	color: #fff;
	background: #cc3300;
	border-radius: 5px;
}

#headLinks {
	display: inline;
	float: right;
	width: 200px;
	text-align: right;
	margin-top: 50px;
}

#headLinks a:link, #headLinks a:visited {
	background: #333;
	color: #fff;
	border-radius: 3px;
	padding: 5px 15px 3px 15px;
	font-size: 12px;
	line-height: 14px;
	text-decoration: none;
}
#headLinks a:hover {
	background: #3399cc;
}