body{
    background:#e1e1e1;
}

.logo {
    width: 76px;
    height: 76px;
    overflow: hidden;
    margin: 109px auto 15px auto;
    background: transparent url('../img/logo-indented.png') no-repeat;
}
h1 {
    text-align: center;
    color: #666;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 15px;
    font-weight: normal;
}

h2 {
    text-align: center;
    color: #666;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
}