/**** STRUCTURE ****/
body {
	background: #f5fafc;
	color: #666;
}
#restOfPageWrap {
	margin: 100px auto 0 auto;
	width: 820px;
}

#photo {
	float: right;
	display: inline;
	padding: 14px;
	width: 494px;
	height: 501px;
	margin-right: 25px;
	background: transparent url('/assets/img/bg-photo.png') no-repeat;
}
#details {
	float: left;
	display: inline;
	width: 225px;
	padding-left: 10px;
	margin-top: 25px;
	font-size: 14px;
	line-height: 26px;
	color: #999;
}
strong { color: #666; }
#details a:link, #details a:visited {
	color: #3399cc;
	font-size: 16px;
}
#details a:hover {
	color: #cc3300;
}
a#photo-download:link, a#photo-download:visited {
	color: #fff;
	font-size: 14px;
	padding: 5px 15px 3px 27px;
	background: #3399cc url('/assets/img/icons/download_8x8-wh.png') no-repeat 10px 7px;
	border-radius: 10px;
	text-decoration: none;
}
a#photo-download:hover {
	background-color: #cc3300;
}

a#back:link, a#back:visited {
	display: block;
	width: 75px;
	font-size: 20px;
	text-align: center;
	color: #fff;	
	background: #35789b;
	border-radius: 5px;
	text-decoration: none;
	padding: 5px 10px 2px 10px;
	margin-bottom: 25px;
}
a#back:hover {
	color: #fff;
	background: #cc3300;
	border-radius: 5px;
}

a.photo-share-twitter, a.photo-share-facebook, a.photo-share-pinterest, a.photo-share-email {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 5px;
	text-indent: -8000px;
	overflow: hidden;
}
a.photo-share-twitter {
	background: transparent url('/assets/img/icons/32px/twitter-2.png') no-repeat;
}
a.photo-share-facebook {
	background: transparent url('/assets/img/icons/32px/facebook.png') no-repeat;
}
a.photo-share-pinterest {
	background: transparent url('/assets/img/icons/32px/pinterest.png') no-repeat;
}
a.photo-share-email {
	background: transparent url('/assets/img/icons/32px/email.png') no-repeat;
}