/*** SETUP ****/
* { 
	margin: 0; 
	padding: 0; 
	font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', 'PT Sans Caption', Helvetica, Arial, sans-serif;
	}
*:focus {
	outline: none;
	}
.clearit {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0;
    padding: 0;
	}