/**** STRUCTURE ****/
#wrap {
  margin: 85px auto 40px auto;
}

/**** LEFT ****/
#left {
  position: fixed;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

#logo {
  display: block;
  width: 82px;
  height: 82px;
  margin: 0 0 50px 0;
  overflow: hidden;
  background: transparent url('../home/img/logo-circle.png') no-repeat;
  text-indent: -8000px;
  text-decoration: none;
}

#left ul {
  list-style: none;
}
#left li {
  display: block;
  margin-bottom: 1px;
}
#left ul a:link, .left ul a:visited {
  display: block;
  width: 100px;
  padding: 8px 8px 6px 8px;
  color: #6699cc;
  text-decoration: none;
  border-radius: 14px;
}
#left ul a:hover {
  color: #336699;
}
#left ul a.active {
  color: #fff;
  background: #292929;
}

#left dl {
  margin-top: 35px;
  font-weight: bold;
}
#left dt {
  padding: 8px 8px 6px 8px;
  color: #999;
}
#left dd a:link, #left dd a:visited {
  display: block;
  padding: 8px 8px 6px 30px;
  color: #6699cc;
  text-decoration: none;
}
#left dd a:hover {
  color: #336699;
}


/**** RIGHT ****/
#your, #billing { display: none; }

h1 {
  font-weight: normal;
  font-size: 28px;
  line-height: 30px;
  margin: 20px 0 0 0;
}
h2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #979797;
  margin: 0 0 60px 0;
}

h3 {
  font-size: 16px;
  line-height: 22px;
  margin-top: 40px;
  margin-bottom: 20px;
}
h3:first-child {
  margin-top: 0;
}
#package h4 { margin-bottom: 10px; text-align: center; }

h4 {
  font-size: 16px;
  line-height: 22px;
  color: #999;
}

p {
  font-weight: normal;
  line-height: 22px;
  margin-top: 16px;
  color: #979797;
}

#package {
	padding: 0 0 0 40px;
	border-left: 1px solid #ccc;
}       

/**** FORM ****/
div.ui-datepicker{
 font-size:14px;
}

#event_location { width: 93% }
#event_url-start { width: 28%; font-size: 14px; padding-top: 4px; padding-right: 5px;}
#event_url { width: 66%; }
#user_email { width: 93% }
#creditcard_cvc { width: 15%; }

#event_location_status, #event_url_status, #email_status { display: inline-block; width: 16px; margin-left: 5px; }

.help-block {
  font-size:12px;
}

.url_bad, .url_good {
	float: right;
	margin-top: 7px;
	width: 16px;
	height: 16px;
	overflow: hidden;
}
.url_bad {
	background: transparent url('/assets/img/x_alt_16x16.png') no-repeat;
}
.url_good {
	background: transparent url('/assets/img/check_alt_16x16.png') no-repeat;
}

.location_good, .spinner-16px, .email_good, .email_bad {
	float: right;
	margin-top: 7px;
	width: 16px;
	height: 16px;
	overflow: hidden;
}
.location_good, .email_good {
	background: transparent url('/assets/img/check_alt_16x16.png') no-repeat;
}
.location_bad, .email_bad {
	background: transparent url('/assets/img/x_alt_16x16.png') no-repeat;
}
.spinner-16px {
	background: transparent url('/assets/img/spinner-sm.gif') no-repeat;
}

.parsley-error-list {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
	color: #cc3300;
	font-size: 14px;
	line-height: 14px;
}
.input-error {
	border:2px solid #cc3300;
}

hr {
	clear: both;
  margin: 15px 0px;
  height: 1px;
  background-color: #ccc;
  border: 0px;
}

#package ul {
	list-style: none;
  padding-left: 0;
}
#package li {
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px dotted #ccc;
	font-size: 14px;
	line-height: 16px;
}
#package li:last-child {
	border-bottom: none;
}
#package li div {
	font-size: 12px;
}
#package li strong {
	color: #ff9900;
}

.package-big-bottom {
	text-align: center;
	padding: 7px 0 7px 0;
	height: 60px;
	background:  transparent url('/assets/img/package_sm_bx.png') no-repeat left bottom;
	overflow: hidden;
	font-size: 64px;
	line-height: 46px;
	color: #357a9e;
	font-weight: bold;
}

.package-promo {
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	margin: 15px 0;
}

.package-promo input {
	width: 115px;
	font-size:14px;
	padding:3px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
	
	background-color: #f4f9fc;
}
#apply-promo-code {
	display: inline-block;
	width: 56px;
	background: #99cc33;
	color: #fff;
	margin-left: 5px;
	padding: 4px 10px;
	text-align: center;
	border-radius: 10px;
	text-decoration: none;
  box-shadow: 1px 1px 2px 1px #ccc;
}
#apply-promo-code:hover {
	background: #669900;
}


a.button:link, a.button:visited, #completSignup {
	display: block;
	width: 210px;
  padding: 20px;
  background: #99cc33;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  font-weight: normal;
  text-decoration: none;
	text-align: center;
	cursor: pointer;
  box-shadow: 1px 1px 2px 1px #ccc;
}
a.button:hover, #completSignup:hover {
	background: #669900;
}

#completSignup:disabled {
	background: #ccc;
}

.secureInfo {
	float: right;
	margin-top: 10px;
	padding: 10px 5px 5px 35px;
	width: 135px;
	border-radius: 5px;
	background: #66ccff url('/assets/img/icons/lock_fill_12x16.png') no-repeat 10px 12px;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
}

.field-error {
	display: none;
	color: #cc3300;
	font-size: 14px;
	line-height: 14px;
}
.input-error {
	border:2px solid #cc3300;
}

#billing select {
  width: 130px;
}

/* Signup Spinner */
#signup-spinner {
  display: block;
  margin-left: 90px;
}